<div id="<%= dom_id artist_profile %>">
  <p>
    <strong>Name:</strong>
    <%= artist_profile.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= artist_profile.description %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= artist_profile.artist_id %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= artist_profile.photo_id %>
  </p>

</div>
